<div id="account-offcanvas" class="d-none">
  <div class="firebaseui-container" id="login-form">
    <div class="header">
      <h2>Log In</h2>
      <button type="button" id="btn-close" class="btn-close" aria-label="Close"></button>
    </div>
    <form>
      <input type="email" id="login-email" placeholder="Email address" />
      <input type="text" id="login-username" placeholder="Username" />
      <input type="password" id="login-password" placeholder="Password" />
      <p id="warning-username" style="color: red; font-size: 0.7em"></p>
      <button id="login-btn" type="button">Log In</button>
    </form>
  </div>
</div>
