  <div class="container-fluid">

          <!-- navbar -->
          <a class="nav-title navbar-brand" href="index.html#home">SNOOPY</a>
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="nav d-none d-lg-flex">
            <li class="nav-item">
              <a class="nav-link" href="index.html#homePage">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#monitoring">Pemantauan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="guideline.html#guideLine">Panduan Apnea</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="handling-apnea.html#handlingApnea">Penanganan Apnea</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="history.html#history">Riwayat Apnea</a>
            </li>
            <li class="nav-item">
              <a class="nav-link user username-display" style="text-transform: none;"><i class="fa-solid fa-circle-user fa-2xl me-2"></i>AKUN</a>
            </li>
          </ul>

          <!-- offcanvas -->
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <img src="./aset/logo.png" class="w-25" alt="LOGO.png" />
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hello, Mom!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <hr class="mx-4 my-0" style="color: var(--red)" />
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link user username-display" style="text-transform: none;"><i class="fa-solid fa-circle-user me-2"></i>ACCOUNT</a> 
                </li>
                <hr class="my-2" style="color: var(--red)" />
                <li class="nav-item">
                  <a class="nav-link" href="index.html#homePage"> <i class="fa-solid fa-house me-2"></i></i>Beranda</a>
                </li>
                <li class="nav-item my-2">
                  <a class="nav-link" href="index.html#monitoring"> <i class="fa-solid fa-heart-pulse me-2"></i>Pemantauan</a>
                </li>
                <hr class="my-2" style="color: var(--red)" />
                <li class="nav-item">
                  <a class="nav-link" href="guideline.html#guideLine"> <i class="fa-solid fa-book-medical me-2"></i>Panduan Apnea</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="handling-apnea.html#handlingApnea"> <i class="fa-solid fa-hand-holding-medical me-2"></i>Penanganan Apnea</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="history.html#history"><i class="fa-solid fa-clock-rotate-left me-2"></i>Riwayat Apnea</a>
                </li>
                <hr class="my-2" style="color: var(--red)" />
              </ul>
            </div>
          </div>

        </div>